
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Veterinario</title>
    </head>
    <body>
        $Cont = 1;
        <?php
            foreach ($datos as $dato) {
                echo ["Veteriao registrado # . $Cont ."].<br/>";
                echo $dato["codigo_veterinario"]."<br/>";
                echo $dato["nombre_veterinario"]."<br/>";
                echo $dato["direccion_domicilio_veterinario"]."<br/>";
                echo $dato["telefono_veterinario"]."<br/>";
                echo $dato["correo_veterinario"]."<br/>";
                $Cont++
            }
        ?>
    </body>
</html>
