
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Veterinario</title>
    </head>
    <body>
        
        <?php
            foreach ($datos as $dato) {
                echo $dato["codigo_veterinario"]."<br/>";
                echo $dato["nombre_veterinario"]."<br/>";
                echo $dato["direccion_domicilio_veterinario"]."<br/>";
                echo $dato["telefono_veterinario"]."<br/>";
                echo $dato["correo_veterinario"]."<br/>";
            }
        ?>
    </body>
</html>
